*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

header{
    width: 100%;
    background-color: gray;
}

.caja{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.caja .logo{
    width: 100px;
}

.navegadorMobile{
    position: absolute;
    top: 141px;
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    padding-top: 10px;
    background-color: #cccccc;
}

.navegadorMobile ul{
    list-style: none;
}

.navegadorMobile ul li{
    margin-bottom: 10px;
}

.navegadorMobile a{
    text-decoration: none;
    font-size: 2.0rem;
    font-weight: bold;
    color: black;
}

.navegadorMobile a:hover{
    color: orangered;
}

.navegadorDesktop{
    display: none;
}
/* MAIN**********************************/
main{
    display: inline-table;
}
.div-principal{
    padding: 20px 20px;
}

.banner{
    width: 100%;
}

.principal{
    padding: 20px;
}

h2{
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
}

p{
    text-align: center;
    font-size: 3.0rem;
    line-height: 4.5rem;
    margin-top: 10px;
}

em strong{
    color: red;
}

.mision{
    font-size: 3.3rem;
}

.diferenciales{
    background-color: white;
    padding: 30px;
    margin-top: 20px;
    text-align: center;
}

.diferencialesUl{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.items{
    font-style: italic;
    list-style: none;
    margin-bottom: 15px;
    font-family: sans-serif;
    font-size: 3.0rem;
    line-height: 4.5rem;
}


.imagenDiferenciales{
    width: 50%;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px 25px 40px 50px;
    cursor: pointer;
}

.productos li:hover{
    border: 1px solid orange;
}

.productos li:active{
    border: 1px solid green;
}

.productos h2{
    font-size: 3.0rem;
    font-weight: bold;
    text-align: center;
}

.productos li:hover h2{
    font-size: 3.1rem;
}

.productos img{
    width: 100%;
}

.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
}

/*FOOTER*******************************/

footer{
    text-align: center;
    background-image: url(./banner/bg.jpg);
    padding: 40px;
    min-width: 950px;
    height: 532px;
}


.copyrigth{
    color: white;
    font-size: 2.8rem;
    margin: 20px;
}