*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

header{
    display: inline-table;
    width: 100%;
    background-color: #cccccc;
    padding: 20px 0 ;
}

.caja{
    /*position: relative;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
}

nav{
    /*position: absolute;*/
    top: 110px;
    right:0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 3.5rem;
    text-decoration: none;
}

nav a:hover{
    color: orange;
    text-decoration:underline;
}

/* MAIN**********************************/


/*FOOTER*******************************/

footer{
    text-align: center;
    background-image: url(./banner/bg.jpg);
    padding: 40px;
    min-width: 950px;
    height: 532px;
}


.copyrigth{
    color: white;
    font-size: 2.8rem;
    margin: 20px;
}