*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

header{
    display: inline-table;
    width: 100%;
    background-color: #cccccc;
    padding: 20px 0 ;
}

.caja{
    /*position: relative;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
}

nav{
    /*position: absolute;*/
    top: 110px;
    right:0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 3.5rem;
    text-decoration: none;
}

nav a:hover{
    color: orange;
    text-decoration:underline;
}

/* MAIN**********************************/
main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form p{
    display: block;
    font-size: 2.0rem;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    background-color: orangered;
    border: none;
    border-radius: 8px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background-color: darkorange;
    transform: scale(1.2);
}

/*FOOTER*******************************/

footer{
    text-align: center;
    background-image: url(./banner/bg.jpg);
    padding: 40px;
    min-width: 950px;
    height: 532px;
}


.copyrigth{
    color: white;
    font-size: 2.8rem;
    margin: 20px;
}