*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/*ESTILOS DEL HEADER*/
header{
    width: 100%;
    background-color: gray;
}

.caja{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.caja .logo{
    width: 100px;
}

.navegadorDesktop{
    display: flex;
}

.navegadorDesktop .navegacion{
    list-style: none;

}

.navegacion li{
    display: inline-block;
    margin-left: 10px;
}

.navegadorDesktop a{
    text-decoration: none;
    font-size: 2.0rem;
    font-weight: bold;
    color: black;
}

.navegadorDesktop a:hover{
    color: orangered;
    text-decoration: underline;
}

#icon-menu-mobile{
    display: none;
}

.inactive{
    display: none;
}
/*ESTILOS DEL HEADER*/

/*ESTILOS DEL MAIN*/
main{
    width: 100%;
}

.imagenBannner{
    width: 100%;
}

.div-principal{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}

.principal{
    padding: 0 120px;
}

.principal h2{
    font-size: 3.0rem;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
    text-align: center;
}

.principal .utensilios{
    width: 15%;
    float: left;
    margin-right: 20px;
}

.principal p{
    font-size: 2.0rem;
    font-weight: 700;
    font-style: inherit;
    margin-bottom: 10px;
}

em strong{
    color: red;
}

.mision{
    font-size: 3.3rem;
}

.diferenciales{
    background-color: white;
    padding: 30px;
    margin-top: 20px;
    text-align: start;
}

.diferencialesUl{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.items{
    color: red;
    font-style: italic;
    list-style: none;
    margin-bottom: 15px;
    font-family: sans-serif;
    font-size: 3.0rem;
    line-height: 4.5rem;
}

.imagenDiferenciales{
    width: 50%;
}
/*ESTILOS DEL MAIN*/

/*ESTILOS DEL FOOTER*/
footer{
    text-align: center;
    background-image: url(/banner/bg.jpg);
    padding: 40px;
   
}


.copyrigth{
    color: white;
    font-size: 2.8rem;
    margin: 20px;
}
/*ESTILOS DEL FOOTER*/

@media(max-width: 640px){

    #icon-menu-mobile{
        display: flex;
    }

    .inactive{
        display: none;
    }
    
    .navegadorMobile{
        position: absolute;
        top: 141px;
        left: 0;
        width: 150px;
        height: 150px;
        border-radius: 10px;
        padding-top: 10px;
        background-color: #cccccc;
    }
    
    .navegadorMobile ul{
        list-style: none;
    }
    
    .navegadorMobile ul li{
        margin-bottom: 10px;
    }
    
    .navegadorMobile a{
        text-decoration: none;
        font-size: 2.0rem;
        font-weight: bold;
        color: black;
    }
    
    .navegadorMobile a:hover{
        color: orangered;
    }
    
    .navegadorDesktop{
        display: none;
    }

    .imagenDiferenciales{
        display: none;
    }
}
