*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/*ESTILOS DEL HEADER*/
header{
    width: 100%;
    background-color: gray;
}

.caja{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.caja .logo{
    width: 100px;
}

.navegadorDesktop{
    display: flex;
}

.navegadorDesktop .navegacion{
    list-style: none;

}

.navegacion li{
    display: inline-block;
    margin-left: 10px;
}

.navegadorDesktop a{
    text-decoration: none;
    font-size: 2.0rem;
    font-weight: bold;
    color: black;
}

.navegadorDesktop a:hover{
    color: orangered;
    text-decoration: underline;
}

#icon-menu-mobile{
    display: none;
}

.inactive{
    display: none;
}
/*ESTILOS DEL HEADER*/

/*ESTILOS DEL MAIN*/
main{
    width: 100%;
    height: auto;
    padding: 20px 20px;
}

.productos-container{
    display: flex;
    justify-content: center;
    height: auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.productos-container-card{
    display: inline-block;
    text-align: center;
    width: 70%;
    max-width: 320px;
    min-width: 190px;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px 25px 40px 50px;
    cursor: pointer;
}

.productos-container-card:hover{
    border: 1px solid orange;
}

.productos-container-card:active{
    border: 1px solid green;
}

.productos-container-card:hover h1{
    font-size: 3.1rem;
}

.productos-container-card h1{
    font-size: 3.0rem;
}

.productos-container p{
    font-size: 2.0rem;
}

.productos-container-card img{
    width: 100%;
}
/*ESTILOS DEL MAIN*/

/*ESTILOS DEL FOOTER*/
footer{
    text-align: center;
    background-image: url(/banner/bg.jpg);
    padding: 40px;
   
}


.copyrigth{
    color: white;
    font-size: 2.8rem;
    margin: 20px;
}
/*ESTILOS DEL FOOTER*/

@media(max-width: 640px){

    #icon-menu-mobile{
        display: flex;
    }

    .inactive{
        display: none;
    }
    
    .navegadorMobile{
        position: absolute;
        top: 141px;
        left: 0;
        width: 150px;
        height: 150px;
        border-radius: 10px;
        padding-top: 10px;
        background-color: #cccccc;
    }
    
    .navegadorMobile ul{
        list-style: none;
    }
    
    .navegadorMobile ul li{
        margin-bottom: 10px;
    }
    
    .navegadorMobile a{
        text-decoration: none;
        font-size: 2.0rem;
        font-weight: bold;
        color: black;
    }
    
    .navegadorMobile a:hover{
        color: orangered;
    }
    
    .navegadorDesktop{
        display: none;
    }

    .imagenDiferenciales{
        display: none;
    }
}
